.div1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  /* body {
    background-color: #212529;
    color: #212529;
  } */
  /* .btncolor{

  } */

  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button.signin-button {
    padding: 10px 20px;
    background-color: #0f0f0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .help-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .help-section a {
    color: #0066c0;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  .help-section hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .help-section p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  