@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.bdy{
    font-family:'raleway',sans-serif;
    background-image: url("../../public/images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}