@import url('https://fonts.googleapis.com/css2?family=FontName&display=swap');


.product-name-font
{
  font-size:16px;
}
:root {
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'FontName', sans-serif;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

.carousel .item{
  height: 400px;
}
.card-small {
  /* Add styles to make the card smaller */
  width: 200px;
  height: 250px;
}

.card-image-small {
  /* Add styles to make the image smaller */
  width: 100px;
  height: 100px;
}

.card-title-small {
  /* Add styles to make the title smaller */
  font-size: 14px;
}




/*New Card*/
.productCard{
  position: relative;
  background-color: var(--color-grey-primary);
  /* margin: 1rem; */
  flex: 1 0 25rem;
  max-width: 20rem;
  max-height: 50rem;
  transition: 0.2s;
}

.productCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage{
  margin-top: 2rem;
  max-width: 80%;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist{
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName{
  font-size: 1.1rem;
}

.displayStack__1,
.displayStack__2{
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice{
  font-size: 1 rem;
  font-weight: bold;
}

.productSales,
.productTime{
  font-size: 1rem;
}
.productList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
 
}
.App{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}
:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

