@import url('https://fonts.googleapis.com/css2?family=FontName&display=swap');

.product-name-font {
  font-size: 16px;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'FontName', sans-serif;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

.carousel .item {
  height: 400px;
}
.card-small {
  /* Add styles to make the card smaller */
  width: 200px;
  height: 250px;
}

.card-image-small {
  /* Add styles to make the image smaller */
  width: 100px;
  height: 100px;
}

.card-title-small {
  /* Add styles to make the title smaller */
  font-size: 14px;
}

/* Pricename change */

.product-name {
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
}

.product-price {
  font-size: 14px;
  font-family: sans-serif;
  color: black;
}

/*New Card*/
.productCard {
  position: relative;
  background-color: #fff;
  /* margin: 1rem; */
  flex: 1 0 25rem;
  max-width: 20rem;
  max-height: 50rem;
  transition: 0.2s;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage {
  margin-top: 2rem;
  max-width: 80%;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.productCard__cart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist {
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName {
  font-size: 1.1rem;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1 rem;
  font-weight: bold;
}

.productSales,
.productTime {
  font-size: 1rem;
}
.productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.App {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}
:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

/* Home Page */
.main-banner-content {
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #c04800;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner-content {
  top: 25%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #c04800;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
}

.button-color {
  color: #232f3e;
}

/*rating componenet*/

.rating span {
  color: #ffc000;
}

/* No underline in links */
.no-underline {
  text-decoration: none;
  color: #fff;
}
.no-underline:hover {
  color: #fff;
}
/* //product page */
img.large {
  max-width: 70%;
}
.product_name_class
{
  text-decoration: none;
}
/*Cart Page CSS */
img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}
.cartSpanning{
  padding-right: 4px;
}
/* signin css*/
.small-container {
  max-width: 600px;
}


/* //checkout */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/*nav orderhistr*/
.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}



/* auction page */
.Bid-color{
  color:#0b8b0b
}

.Bid-color-time{
  color:#c04800
}
.auction-button-color{
  background-color:#6052f5;
}

/* .carousel2 .item{
    size: 500px
} */
.option_choice{
  position: relative;
}
 
.dropdown_search{
  visibility: visible;
  position: absolute;
  left: 0;
  top: 44px;
  background: white;
  z-index: 100;
  width: 70%;
  padding:0.5rem;
  border-radius:0.5rem;
}



/* comments and reviews */
 
/* *{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
} */
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}